{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <h2 class="card-title p-5">Forgot Password</h2>
    <form action="/forgot_password" method="post">
        <div class="mb-3">
            <input autocomplete="on" autofocus class="form-control mx-auto w-25" name="email" placeholder="Email"
                type="email">
        </div>
        <button class="btn btn-primary p-2" style="width:10%" type="submit">Reset Password</button>
    </form>
{% endblock %}
