{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <h2 class="card-title p-5">Reset Password</h2>
    <form action="{{ url_for('reset_password', token=token) }}" method="post">
        <div class="mb-3">
            <label for="password" class="form-label">New Password:</label>
            <input type="password" id="password" name="password" class="form-control mx-auto w-25" required>
        </div>
        <div class="mb-3">
            <label for="confirmation" class="form-label">Confirm Password:</label>
            <input type="password" id="confirmation" name="confirmation" class="form-control mx-auto w-25" required>
        </div>
        <button class="btn btn-primary p-2" style="width:10%" type="submit">Reset Password</button>
    </form>
{% endblock %}
